h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}

nav {
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 10px;
}

nav li:hover {
    cursor: pointer;
}

/* nav li.selected {
    font-weight: bold;
    background-color: lightgray;
} */

#tab_content {
    margin: auto;
    font-family: monospace;
    font-size: large;
}

#tab_content>div {
    display: none;
}

#tab_hide {
    font-weight: bold;
}

#tab_hide:hover {
    cursor: pointer;
}

#content5 img {
    margin: 10px 0;
    border: 1px solid black;
}

@media (min-width: 700px) {
    #tab_content {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    #tab_content {
        width: 60%;
    }
}