@font-face {
    font-family: 'Digital7Mono';
    src: url('../assets/Digital7Mono.ttf') format('truetype');
}

#root {
    margin: 50px auto;
    width: fit-content;
    border: 1px, solid, black;
    padding: 8px;
}

#topbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
}

input {
    font-family: 'Digital7Mono';
    font-size: 80px;
}

#restart-button {
    width: 80px;
}

/* temporary */
#grid {
    margin-top: 10px;
    height: 600px;
    width: 600px;
    border: 1px, solid, black;
}
